.mt-15 {
  margin-top: 15px;
}
.mr-5 {
  margin-right: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.text-right {
  float: right;
  cursor: pointer;
}
.text-right:hover {
  color: #d9534f;
}
.pl {
  display: none;
}
.label {
  cursor: pointer;
}
.sort_selected::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin-left: 10px;
  display: inline-block;
}